<header class="p-3 border-bottom shadow-sm" style="background-color: rgb(224, 249, 255);">
    <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start row">
        <div class="col-10 h2 text-dark text-start">
            Task Manager
        </div>
        <div class="col-2 text-end">
            <button type="button" class="btn me-2 btn-light">
                <i class="bi bi-person-circle"></i>
                <span> {{currentUserName}}</span>
            </button>
        </div>
    </div>
    </div>
</header>
