<div class="d-flex flex-column w-100" >
    <ul class="list-unstyled row d-flex justify-content-around">

        <hr>
        <li>
            <button (click)="createPostAssignmentListForm()" class="btn btn-secondary w-100 d-flex justify-content-between align-items-center shadow">
                <span class="d-md-flex">Create Task List</span>
                <i class="bi bi-plus-circle-fill"></i>
            </button>

            <button (click)="postLogout()" class="btn btn-danger w-100 d-flex justify-content-between align-items-center shadow my-2">
              <span class="d-md-flex">Logout</span>
              <i class="bi bi-x-circle-fill"></i>
          </button>
        </li>
    </ul>
</div>
