<section class="vh-100" style="background-color: #7ACAFF;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="card shadow-lg" style="border-radius: 1rem;">
                <div class="card-body p-4 p-lg-5 text-black">
                    <div class="row">
                        <ul ngbNav #nav="ngbNav" class="nav-tabs border-0 ">
                            <li ngbNavItem>
                              <button ngbNavLink>Sign In</button>
                              <ng-template ngbNavContent>
                                <div class="row p-1 d-flex flex-row align-items-center">
                                    <div class="d-flex flex-column align-items-center col-sm-8 col-12">
                                        <h3>Welcome to Task Manager!</h3>
                                        <app-sign-in-form></app-sign-in-form>    
                                    </div>
                                    <div class="col-sm-4 d-none d-sm-block">
                                        <img src="{{logoPath}}" class="img-thumbnail border-0">
                                    </div>
                                </div>
                                
                              </ng-template>
                            </li>
                            <li ngbNavItem>
                              <button ngbNavLink>Create Account</button>
                              <ng-template ngbNavContent>
                                <div class="row p-1 d-flex flex-row align-items-center">
                                    <div class="d-flex flex-column align-items-center col-sm-8 col-12">
                                        <h3>Create Account</h3>
                                        <app-sign-up-form></app-sign-up-form>    
                                    </div>
                                    <div class="col-sm-4 d-none d-sm-block">
                                        <img src="{{logoPath}}" class="img-thumbnail border-0">
                                    </div>
                                </div>
                              </ng-template>
                            </li>
                          </ul>
                          <div [ngbNavOutlet]="nav">
                          </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<router-outlet></router-outlet>