<form [formGroup]="createAssignmentListForm" (ngSubmit)="createAssignmentListSubmit()" class="d-flex flex-row align-items-center p-2 m-2" action="">
    <input  type="text" class="form-control p-2 m-2" id="inputName" aria-describedby="Name" placeholder="Nome da Lista de Tarefas" formControlName="inputName">

    <button appHoverSuccess type="submit" class="btn text-secondary" >
        <h1><i class="bi bi-plus-circle-fill"></i></h1>
    </button>

    @if (errorName != "") {
        <span class="text-danger">
            {{errorName}}
        </span>
    }

</form>
