.custom-btn-transparent {
  background-color: #ffc1078e;
  border-color: transparent;
  color: inherit;
  transition: background-color 0.3s ease;

  &:hover {
      background-color: #ffc107;
  }
}

.dark-modal .modal-content {
  background-color: #2c2929;
  color: white;

}
.dark-modal .close {
  color: white;
}
.light-gray-backdrop {
  background-color: #777777;
}
