.custom-btn-transparent {
  background-color: #ffc1078e;
  border-color: transparent;
  color: inherit;
  transition: background-color 0.3s ease;

  &:hover {
      background-color: #ffc107;
  }
}

.plcheck{
  padding-left: 2.1rem;
}

.green-checkbox:checked {
  background-color: #11bb19;
  // border-color: green;
}
